

    <form action="/Car/GetCars" method="post">
        <input type="text" name="Make" />
        <input type="submit" value="Search by Make" />
    </form>
    <form action="/Car/GetCars" method="post">
        <input type="text" name="Model" />
        <input type="submit" value="Search by Model" />
    </form>
    <form action="/Car/GetCars" method="post">
        <input type="text" name="Year" />
        <input type="submit" value="Search by Year" />
    </form>
    <form action="/Car/GetCars" method="post">
        <input type="text" name="Color" />
        <input type="submit" value="Search by Color" />
    </form>
    <form action="/Home/Search" method="post">
        <input type="submit" value="Search all cars" />
    </form>
